<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">

  <head>
    <title>wackpackr</title>
    <meta charset = "UTF-8"/>
    <meta
      content = "width=device-width, initial-scale=1.0, shrink-to-fit=no"
      name = "viewport"
    />
  </head>

  <body>
    <div style = "margin : 0rem 5rem;">
      <h1>~~ wackpackr ~~</h1>
      <em>wackpackr can't pack for shit!</em>
      <p>
        Right now you can just type in some text and wackpackr will compress it
        with a makeshift Huffman implementation, then show you the original and
        compressed data in hexadecimal... The compressed hexadecimal contains
        both the encoded data and the Huffman tree for decoding it.
      </p>
      <p>
        You can also plug in hexadecimal and try decompressing it back to text.
      </p>
      <h4>Huffman compress</h4>
      <form
        th:action = "@{/compress}"
        th:method = "POST"
      >
        <textarea
          name = "input"
          placeholder = "Type your wack shit here, hefe"
          rows = "10"
          style = "width : 100%;"
        ></textarea><br/>
        <input
          type = "submit"
          value = "COMPRESS"
        />
      </form>
      <table>
        <tbody>
          <tr>
            <td>Original text:</td>
            <td th:text = "${text}"></td>
          </tr>
          <tr>
            <td>Original text in hexadecimal:</td>
            <td th:text = "${hex_original}"></td>
          </tr>
          <tr>
            <td>Compressed text in hexadecimal:</td>
            <td th:text = "${hex_compressed}"></td>
          </tr>
          <tr>
            <td>Compression rate:</td>
            <td th:text = "${compression_rate}"></td>
          </tr>
        </tbody>
      </table>
      <h4>Huffman decompress</h4>
      <form
        th:action = "@{/decompress}"
        th:method = "POST"
      >
        <textarea
          name = "input"
          placeholder = "Plug in compressed data in hexadecimal, bawse"
          rows = "5"
          style = "width : 100%;"
        ></textarea><br/>
        <input
          type = "submit"
          value = "DECOMPRESS"
        />
      </form>
      <table>
        <tbody>
          <tr>
            <td>Decompressed text:</td>
            <td th:text = "${decompressed}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>

</html>
